* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.all {
    flex-grow: 1;
   } 
.header {
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    background: #213B7E; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.logo {
    margin-left: 16px;
}
.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
    
}
.menu_list {
    width: 113px;
    text-align: center;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 0px;
    display: block;
}
.menu_link_active {
    color: #213B7E;
    background: #FFFFFF;
    text-decoration: none;
}

.button {
    margin-right: 16px;
    width: 153px;
    height: 50px;
    background: #EA5D21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.content {
    width: 911px;
    max-width: 100%;
    margin: 0px auto;
}

.title {
    padding-top: 33px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.main_picture {
    width: 523px;
    max-width: 100%;
}
.content_info {
    display: flex;
    justify-content: space-between;
}
.content_section {
    width: 634px;
}
.subtitle {
    margin-top:  15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}
.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.bold_font {
   font-weight: bold;
}
.color_text {
    color: #EA5D21;
    font-style: italic;
}
.heading {
    font-family: 'Lobster', cursive;
    width: 183px;
    min-width: 163px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;    
}
.quotation_marks {
    font-size: 64px;
    vertical-align: middle;  
}

.footer {
    margin-top: 187px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background: #213B7E;
    color: rgba(255, 255, 255, 0.5);
}
.footer_link {
    color: rgba(255, 255, 255, 0.5);
}