.footer {
    margin-top: 187px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background: #213B7E;
    color: rgba(255, 255, 255, 0.5);
}