.header__menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 0px;
    display: block;
    transition-duration: .1s;
       
}
.header__menu-link:hover {
    color: #213B7E;
    background: #FFFFFF;
    text-decoration: none;  
}
@media screen and (max-width: 767px) {
    .header__menu-link {
        font-size: 18px;
        line-height: 20px;
        padding: 22px 0px;
   }  
}
@media screen and (max-width: 600px) {
    .header__menu-link {
        font-size: 16px;
        line-height: 18px;
        padding: 18px 0px;
}
}