.content-contacts__tel {
    grid-row: 5;
    grid-column: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}   
.content-contacts__tel:hover {
    color: rgb(0, 17, 255);
}